# Ignore all pycache
**/__pycache__/

# Don't upload data
data/*.csv

# Ignore all .npy files
**/*.npy

# Ignore all .csv files
**/*.csv

# Ignore jupyter notebooks in src
src/**/*.ipynb

# Ignore 'sandbox' work
sandbox/

# Ignore documentation build
docs/build/
docs/.DS_Store

# Ignore plots in src (apart from ablation) as they are included in the report/
src/plots/*.png
!src/plots/gpjax_lf_replicate2.png
!src/plots/gpjax_lf_replicate3.png
!src/plots/ablation/*.png
