# Ignore all pycache
**/__pycache__/

# Don't upload data
data/

# Ignore all .npy files
**/*.npy

# Ignore jupyter notebooks in src
src/**/*.ipynb

# Ignore 'sandbox' work
latent_forces/

# Ignore documentation build
docs/build/
docs/.DS_Store
