# Ignore all pycache
**/__pycache__/

# Don't upload data
data/*.csv

# Ignore all .npy files
**/*.npy

# Ignore all .csv files
**/*.csv

# Ignore jupyter notebooks in src
src/**/*.ipynb

# Ignore 'sandbox' work
sandbox/

# Ignore documentation build
docs/build/
docs/.DS_Store
